<div class="container">
  <div class="row">
    <div class="col">
      <h1 class="mb-3">Update</h1>
      <hr />
      <h2>Product</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-4">
      <!--  -->
      <div>
        <div class="row mb-4">
          <div class="col">
            <!-- form product details-->
            <div class="mb-3">
              <!-- categories -->
              <div class="row mb-3">
                <div class="col">
                  <h2>CategoryId:</h2>
                </div>
                <div class="col">
                  <p><%= productDetails.categoryId %></p>
                </div>
              </div>

              <!-- name -->
              <div class="row mb-3">
                <div class="col">
                  <h3>Name Product:</h3>
                </div>

                <div class="col">
                  <p><%= productDetails.name %></p>
                </div>
              </div>

              <!-- describe -->
              <div class="row mb-3">
                <div class="col">
                  <h3>Describe:</h3>
                </div>
                <div class="col">
                  <p><%= productDetails.describe %></p>
                </div>
              </div>

              <!-- video -->
              <div class="row mb-3">
                <div class="col">
                  <h3>Video:</h3>
                </div>
                <div class="col">
                  <p>null</p>
                </div>
              </div>

              <!-- slug -->
              <div class="row mb-3">
                <div class="col">
                  <h3>Slug:</h3>
                </div>
                <div class="col">
                  <p><%= productDetails.slug %></p>
                </div>
              </div>

              <!-- create -->
              <div class="mb-3">
                <form action="/admin/product-details/delete" method="POST">
                  <input
                    type="hidden"
                    name="_id"
                    value="<%= productDetails._id %> "
                  />
                  <button type="submit" class="btn btn-danger">
                    Delete All
                  </button>
                </form>
              </div>
            </div>
          </div>
        </div>

        <hr />

        <div class="row">
          <div class="col">
            <!-- Accordion product items -->
            <%- include("../../components/products-accordion") %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
