<div class="container">
  <h1>Edit</h1>

  <br />
  <h4>Category</h4>
  <hr />
  <div class="row">
    <div class="col-sm-4">
      <form method="post" action="/admin/category/edit/<%= category._id%>">
        <div class="text-danger"></div>
        <div class="form-group mb-3">
          <label class="control-label">Name</label>
          <input
            value="<%= category.name%>"
            name="name"
            type="text"
            class="form-control"
          />
          <span class="text-danger"></span>
        </div>
        <div class="form-group mb-3">
          <label class="control-label">Description</label>
          <input
            value="<%= category.describe%>"
            class="form-control"
            name="describe"
          />
          <span class="text-danger"></span>
        </div>
        <div class="form-group mb-3">
          <label class="control-label">Image</label>
          <input
            value="<%= category.image%>"
            name="image"
            type="text"
            class="form-control"
          />
          <span class="text-danger"></span>
        </div>
        <div class="form-group mb-3">
          <label class="control-label">CreatedDate</label>
          <input
            value="<%= category.create_date%>"
            name="create_date"
            type="date"
            class="form-control"
          />
          <span class="text-danger"></span>
        </div>
        <div class="form-group mb-3">
          <label class="control-label">slug</label>
          <input
            value="<%= category.slug%>"
            type="text"
            name="slug"
            class="form-control"
          />
          <span class="text-danger"></span>
        </div>
        <div class="form-group mb-3">
          <input type="submit" value="Create" class="btn btn-primary" />
        </div>
      </form>
    </div>
  </div>

  <div>
    <a href="">Back to list</a>
  </div>
</div>
